<div class="conatiner">
  <div class="controls-container">
    <nav>
      <h3>Agent Dashboard</h3>
    </nav>

    <div class="controls-list">
      <div class="controls-list-item">
        <div class="controls-list-header">
          <h4>Quick Links</h4>
        </div>
        <div class="controls-list-content">
          <div class="controls-list-content-item">
            <h5>Quick Link 1</h5>
          </div>
          <div class="controls-list-content-item">
            <h5>Quick Link 2</h5>
          </div>
          <div class="controls-list-content-item">
            <h5>Quick Link 3</h5>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="body">
    <nav>
      <div class="body-header">
        <!-- Content Controls go here if they exist. -->
      </div>
    </nav>

    <div class="body-content">
      <!-- Actual Content Here -->
    </div>
  </div>
</div>
