/*Dark color palette*/
$body-background-color: #cccccc;
$controlers-primary-background-color: #ffffff;
$controlers-secondary-background-color: #a4a29e;
$controlers-primary-forebackground-color: #161d20;
$controlers-secondary-forebackground-color: #36498f;
$controlers-tertiary-forebackground-color: #2d7c9d;

$palette-1181-color-1: #353535;
$palette-1181-color-2: #1b0f90;
$palette-1181-color-3: #6257e4;
$palette-1181-color-4: #fe1d02;
$palette-1181-color-5: #b4a8b2;
$palette-1181-color-6: #bbbbbb;
$palette-1181-color-7: #363a3e;
$palette-1181-color-8: #2c2e31;

