/*Dark color palette*/
$body-background-color: #cccccc;
$controlers-primary-background-color: #ffffff;
$controlers-secondary-background-color: #a4a29e;
$controlers-primary-forebackground-color: #161d20;
$controlers-secondary-forebackground-color: #36498f;
$controlers-tertiary-forebackground-color: #2d7c9d;
