.top-card-container {
  width: 80em;
}

.middle-card-container {
  margin: 1em 0;
  width: 80em;
}

.middle-card-container-with-background {
  margin: 1em 0;
  background-color: $controlers-secondary-forebackground-color;
}

.buttom-card-container {
  width: 80em;
  // margin-bottom: 5em;
}

.control-button{
  color: #ffffff;
  margin: 1em;
}

.table {
  width: 100%;
  height: auto;

}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
