.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-toolbar {
  background-color: $controlers-secondary-forebackground-color;
}

.dialog-header-title {
  color: #ffffff;
}

.submit-button {
  background-color: $controlers-secondary-forebackground-color;
  color: #ffffff;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-section {
  flex: 1;
}

.list-section {
  flex: 1;
}

.field-container-inline {
  display: flex;
  width: 100%;
}

.field-inline {
  flex: 1;
  margin: 10px;
  padding: 5px;
  flex: 1;
}

.field-container {
  display: flex;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.fieldfield {
  margin: 10px;
  padding: 5px;
  width: 100%;
  display: flex;
  flex: 1;
}

.button-row button {
  margin-left: 5px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

.list-questions {
  margin-top: 0;
}

mat-list-item {
  cursor: pointer;
}

.loader-container {
  width: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.loadbar {
  height: 4px;
  padding-top: 0;
  margin-top: 0;
  width: 100%;
}
