:host {
  box-sizing: border-box;
  height: 100vh;
}

.top-card-container {
  width: 80em;
  margin-top: 5em;
}

.middle-card-container {
  margin: 1em 0;
}

.buttom-card-container {
  width: 80em;
  margin-bottom: 5em;
}

.table {
  width: 100%;
  height: 15em;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-name {
  color: rgba(0, 0, 0, 0.87);
  font-weight: bolder;
}
