<div class="mat-elevation-z8 table-container">
  <div class="table-top-controllers">
      <span class="table-name"> Active Clients </span>
  </div>
  <a style="position: absolute; right:50px; top:16.1%;" href="https://ropah.github.io/pages/active-clients.html">
      <input type="submit" value="Help"/>
      </a>



  <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
  </mat-form-field>

  <mat-table [dataSource]="dataSource" matSort class="table" #mytable id="clients-table">

      <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="surname">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Surname </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.surname}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="contactNumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Cell Number </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.contactNumber}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
          <mat-cell *matCellDef="let element">
              <button mat-button (click)="onArchiveClient(element)" matTooltip="archive Client">
                  <mat-icon>archive</mat-icon>
              </button>
          </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<app-progress-spinner class="example-margin" color="warn" mode="indeterminate" value="50" [backdropEnabled]="true"
 [positionGloballyCenter]="true" [displayProgressSpinner]="displayProgressSpinner">

