<div class="loader-container">
  <mat-progress-bar *ngIf="showLoadingEndicator" mode="indeterminate"></mat-progress-bar>
</div>

<div class="container">
  <mat-toolbar color="primary">
      <span class="fill-remaining-space"></span>
      <div class="dialog-header">
          <div class="dialog-header-title">Update {{updateName}} </div>
          <div class="dialog-header-error-message" *ngIf="errorMessage">{{errorMessage}}</div>
      </div>
      <span class="fill-remaining-space"></span>
  </mat-toolbar>

  <form [formGroup]="updateForm" class="form" (ngSubmit)="onSubmit()" *ngIf="update !=null">

    <div class="field-container-inline">
      <mat-form-field class="field-inline">
        <mat-label>Hospital Name</mat-label>
        <input matInput formControlName="Name" type="text" required>
        <mat-error *ngIf="Name.touched && Name.invalid">
          <div *ngIf="Name.errors.required">Name is required.</div>
        </mat-error>
      </mat-form-field>
    </div>

      <div class="button-row">
          <button mat-button mat-dialog-close>Cancel </button>
          <button mat-raised-button type="submit" color="primary">Submit</button>
      </div>
  </form>
</div>
