<div class="conatiner">
  <div class="controls-container">
    <nav>
      <h3>Support Tickets</h3>
    </nav>

    <div class="controls-list">
      <div class="controls-list-item">
        <div class="controls-list-header">
          <h4>Quick Links</h4>
        </div>
        <div class="controls-list-content">
          <div class="controls-list-content-item">
            <h5>Open Tickets</h5>
          </div>
          <div class="controls-list-content-item">
            <h5>Closed Tickets</h5>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="body">
    <nav>
      <div class="body-header">
        <button mat-raised-button color="warn" (click)="onOpenNewTicket()" class="control-button">Open New Ticket</button>
      </div>
    </nav>

    <div class="body-content">

      <mat-card class="mat-elevation-z8 middle-card-container">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
        </mat-form-field>
      </mat-card>

       <mat-card class="mat-elevation-z8 buttom-card-container">

        <mat-card-content>
          <mat-table [dataSource]="dataSource" matSort class="table">

            <ng-container matColumnDef="ticketNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Number </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="hospital">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Hospital </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.surname}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.contactNumber}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="received">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Received </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="lastUpdated">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
          </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <!-- <button mat-button matTooltip="archive Client">
                        <mat-icon>archive</mat-icon>
                    </button> -->
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>


<app-progress-spinner class="example-margin" color="warn" mode="indeterminate" value="50"  [backdropEnabled]="true"
[positionGloballyCenter]="true" [displayProgressSpinner]="displayProgressSpinner">
