@import "/src/globals/styles/colors.scss";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $body-background-color;
  overflow-y: hidden;
  overflow-x: hidden;
}


.navbar-container {
  display: flex;
  width: 100vw;
  background-color: $controlers-primary-forebackground-color;
}

.nabvar-sticky {
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar-home-controller {
  color: #ffffff;
  text-decoration: none;
}


.navbar-section {
  flex: 1;
}

.navbar-section-divider {
  flex: 1 1 1;
}

.navbar-section-controller {
  height: 64px;
  color: #ffffff;
}

.navbar-section-controller-list-container {
  display: flex;
  justify-content: center;
}

.navbar-section-controller-list-option {
  list-style: none;
}

.mat-drawer-container {
  background-color: $body-background-color;
}

.navbar-icon {
  padding: 5px;
  color: $controlers-primary-forebackground-color;
}

.navbar-username-text {
  color: #ffffff;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 6em;
  background-color: $body-background-color;
}

mat-progress-bar {
  height: 4.5px;
}

//SideNav
mat-sidenav {
  width: 40%;
}

mat-drawer {
  background-color: rgb(210, 212, 216);
  width: 290px;
}

mat-sidenav {
  background-color: rgb(210, 212, 216);
  width: 290px;
}
