<mat-sidenav-container>
  <mat-sidenav #notification position="end" mode="over" class="notifications-sidenav">
    <!-- <app-notifications></app-notifications> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar role="heading" class="navbar-container nabvar-sticky">
      <mat-toolbar-row>

        <div class="navbar-section">
          <a [routerLink]="['']" class="navbar-home-controller">Help Desk</a>
        </div>

        <div class="navbar-section">
          <!-- <nav mat-tab-nav-bar>
            <a mat-tab-link class="navbar-section-controller" [routerLink]="['/tickets/open']" routerLinkActive
              #rla1="routerLinkActive" [active]="rla1.isActive">
              Tickets
            </a>

            <a mat-tab-link class="navbar-section-controller" [routerLink]="['/admin/support-members']" routerLinkActive
              #rla1="routerLinkActive" [active]="rla1.isActive">
              Support Team
            </a>

            <a mat-tab-link class="navbar-section-controller" [routerLink]="['/admin/hospitals']" routerLinkActive
              #rla2="routerLinkActive" [active]="rla2.isActive">
              Hospitals
            </a>
          </nav> -->
        </div>

        <div class="navbar-section">
          <ul class="navbar-section-controller-list-container">

            <!-- <li class="navbar-section-controller-list-option">
              <button mat-button (click)="notification.toggle()">
                <mat-icon [matBadge]="0" matBadgeSize="small" matBadgeColor="warn">
                  notification_important_outline
                </mat-icon>
              </button>
            </li> -->


            <li class="navbar-section-controller-list-option">
              <button mat-button [matMenuTriggerFor]="profileMenu" class="navbar-username-text">
                {{username}}
              </button>

              <mat-menu #profileMenu="matMenu">
                <button mat-menu-item>
                  <mat-icon class="navbar-icon">account_circle</mat-icon>
                  profile
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="onSignOut()">
                  <mat-icon class="navbar-icon">exit_to_app</mat-icon>
                  Sign out
                </button>
              </mat-menu>
            </li>

          </ul>
        </div>

      </mat-toolbar-row>
    </mat-toolbar>

    <div class="main-wrapper">
      <div class="side-menu">

        <div class="menu-item">
          <button mat-button class="menu-icon-container">
            <mat-icon class="menu-icon-symbol">
              dashboard
            </mat-icon>
            <div class="menu-icon-title">Dashboard</div>
          </button>
        </div>

        <div class="menu-seperator"></div>
        <div class="menu-item">
          <button mat-button class="menu-icon-container">
            <mat-icon class="menu-icon-symbol">
              confirmation_number
            </mat-icon>
            <div class="menu-icon-title">Tickets</div>
          </button>
        </div>
        <div class="menu-item">
          <button mat-button class="menu-icon-container">
            <mat-icon class="menu-icon-symbol">
              groups
            </mat-icon>
            <div class="menu-icon-title">Support Team</div>
          </button>
        </div>


        <div class="menu-seperator"></div>
        <div class="menu-item">
          <button mat-button class="menu-icon-container">
            <mat-icon class="menu-icon-symbol">
              settings
            </mat-icon>
            <div class="menu-icon-title">Hospitals</div>
          </button>
        </div>
      </div>

      <div class="router-outlet-wrapper">
        <router-outlet></router-outlet>
      </div>

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
