<div class="conatiner">
  <div class="controls-container">
    <nav>
      <h3>Hospitals</h3>
    </nav>

    <div class="controls-list">
      <div class="controls-list-item">
        <div class="controls-list-header">
          <h4>Quick Links</h4>
        </div>
        <div class="controls-list-content">
          <div class="controls-list-content-item">
            <h5>Quick Link 1</h5>
          </div>
          <div class="controls-list-content-item">
            <h5>Quick Link 2</h5>
          </div>
          <div class="controls-list-content-item">
            <h5>Quick Link 3</h5>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="body">
    <nav>
      <div class="body-header">
        <button mat-raised-button color="warn" (click)="onAddNew()" class="control-button">Add new Hospital</button>
      </div>
    </nav>

    <div class="body-content">

      <mat-card class="mat-elevation-z8 middle-card-container">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
        </mat-form-field>
      </mat-card>

       <mat-card class="mat-elevation-z8 buttom-card-container">

        <mat-card-content>
          <mat-table [dataSource]="dataSource" matSort class="table">

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Hospital Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">

              <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
              <mat-cell *matCellDef="let element">
                  <button mat-button (click)="onUpdateValue(element)" matTooltip="Update Details">
                      <mat-icon class="icon-library">create</mat-icon>
                  </button>

                  <button mat-button (click)="onDeleteValue(element)" matTooltip="Delete">
                      <mat-icon class="icon-library">delete</mat-icon>
                  </button>
              </mat-cell>
          </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>


<app-progress-spinner class="example-margin" color="warn" mode="indeterminate" value="50"  [backdropEnabled]="true"
[positionGloballyCenter]="true" [displayProgressSpinner]="displayProgressSpinner">














