<mat-sidenav-container>
  <mat-sidenav #notification position="end" mode="over" class="notifications-sidenav">
    <!-- <app-notifications></app-notifications> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="light" role="heading" class="navbar-container nabvar-sticky">
      <mat-toolbar-row>

        <div class="navbar-section">
          <a [routerLink]="['']" class="navbar-home-controller">Help Desk</a>
        </div>

        <div class="navbar-section">
          <nav mat-tab-nav-bar>
            <a mat-tab-link class="navbar-section-controller" [routerLink]="['']" routerLinkActive
              #rla1="routerLinkActive" [active]="rla1.isActive">
              Dashboard
            </a>

            <a mat-tab-link class="navbar-section-controller" [routerLink]="['/tickets/open']" routerLinkActive
              #rla1="routerLinkActive" [active]="rla1.isActive">
              Open Tickets
            </a>

            <a mat-tab-link class="navbar-section-controller" [routerLink]="['/tickets/closed']" routerLinkActive
              #rla2="routerLinkActive" [active]="rla2.isActive">
              Closed Tickets
            </a>
          </nav>
        </div>

        <div class="navbar-section">
          <ul class="navbar-section-controller-list-container">

            <!-- <li class="navbar-section-controller-list-option">
              <button mat-button (click)="notification.toggle()">
                <mat-icon [matBadge]="0" matBadgeSize="small" matBadgeColor="warn">
                  notification_important_outline
                </mat-icon>
              </button>
            </li> -->


            <li class="navbar-section-controller-list-option">
              <button mat-button [matMenuTriggerFor]="profileMenu" class="navbar-username-text">
                {{username}}
              </button>

              <mat-menu #profileMenu="matMenu">
                <button mat-menu-item>
                  <mat-icon class="navbar-icon">account_circle</mat-icon>
                  profile
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="onSignOut()">
                  <mat-icon class="navbar-icon">exit_to_app</mat-icon>
                  Sign out
                </button>
              </mat-menu>
            </li>

          </ul>
        </div>

      </mat-toolbar-row>
    </mat-toolbar>

    <div class="main-wrapper">

      <router-outlet></router-outlet>

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
