/* You can add global styles to this file, and also import other style files */

// html,
// body {
//   height: 100%;
// }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background-color: #dcdcdc;
}


mat-progress-bar {
  height: 4.5px;
}

mat-sidenav {
  width: 40%;
}

.notifications-sidenav {
  width: 40vw;
}

.home-link {
  color: #5f6368;
  text-decoration: none;
}

.navbar-container {
  // height: 10vh;
  width: 100vw;
  // border-bottom: 0.0625rem solid #e0e0e0;
  color: #5f6368;
  display: flex;
  z-index: 0;
}

.navbar-item-one {
  flex: 1;
}

.navbar-item-two {
  flex: 1;
}

.navbar-item-three {
  flex: 1;
}

.item-link {
  height: 64px;
}

.navbar-item-remaining-space {
  flex: 1 1 1;
}

.navbar-control-container {
  display: flex;
  justify-content: center;
}

.navbar-control {
  list-style: none;
}


.mat-drawer-container{
  background-color: #dcdcdc;
}
